{
  "tabWidth": 2,
  "useTabs": false,
  "endOfLine": "lf",
  "quoteProps": "as-needed",
  "printWidth": 80,
  "proseWrap": "preserve",
  "singleQuote": false,
  "trailingComma": "none",
  "arrowParens": "always"
}
