name: Coverage

on:
  pull_request:
  push:
    branches:
      - "master"
    tags:
      - "!**"

jobs:
  coverage:
    name: Check and submit
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: pnpm/action-setup@v2
        with:
          version: 9

      - name: Collect coverage
        uses: actions/setup-node@v3
        with:
          node-version: 20
          cache: "pnpm"
      - run: pnpm install --frozen-lockfile
      - run: pnpm -r build
      - run: pnpm run cov:check

      - name: Submit report
        if: success() || failure()
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./coverage/coverage-final.json
