# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Coverage

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

jobs:
  coverage:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v2
        with:
          version: 8.1.x
      - name: Collect coverage
        uses: actions/setup-node@v3
        with:
          node-version: 16.x
          cache: "pnpm"
      - run: pnpm install --frozen-lockfile
      - run: pnpm -r build
      - run: pnpm -r cov:json

      - name: Submit core report
        uses: codecov/codecov-action@v3
        with:
          files: ./packages/core/coverage/coverage-final.json, ./packages/common/coverage/coverage-final.json, ./plugins/babel-fees/coverage/coverage-final.json
